body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #637E76;
    ;
    padding: 20px 0;
}

.banner {
    width: 100%;
    height: 550px;
}

.caixa {
    position: relative;
    width: 1340px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 50px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: #113946;
    font-weight: bold;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav a:hover {
    color: #240A34;
    text-decoration: underline;
}

.principal {
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.principal h2 {
    margin: 0 0 1em;
    font-size: 1.5em;
    line-height: 1.5;

}

.titulo-principal {
    font-size: 2em;
    text-align: center;
    margin: 0 0 1em;
    clear: left;
}

.mapa {
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888);
}

.mapa h3 {
    margin: 0 0 2em;
    text-align: center;
    font-size: 20px;
}

.mapa-conteudo {
    width: 500px;
    margin: 0 auto;
}

footer {
    text-align: center;
    padding: 40px 0;
    background-color: #D04848;
}

.copyrigth {
    color: #000000;
    font-size: 13px;
    padding: 20px 0 0;
}

.cardapio {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.cardapio li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #1A4D2E;
    border-radius: 10px;
    min-height: 350px;
}

@media screen and (max-width: 600px) {
    nav a{
        font-size: 3em;
    }
}

@media screen and (max-width: 480px) {
    .caixa, .principal, .cardapio{
        width: auto;
    }
    .mapa{
        overflow: hidden;
    }
    .cardapio li {
        display: block;
        width: 95%;
        margin-top: 15px;

    }
}
.cardapio li:hover {
    border-color: #074173;
    cursor: pointer;
    transition: 2s;
}

.cardapio li:active {
    border-color: #B31312;
}

.cardapio li:hover h1 {
    font-size: 1.7em;
    color: #1A4D2E;
    transition: 2s;
}

.cardapio li:hover h2 {
    color: #1A4D2E;
    transition: 2s;
}

.cardapio li:hover h3 {
    font-size: 1.5em;
    color: #1A4D2E;
    transition: 2s;
}

.cardapio h1 {
    font-size: 1.2em;
    font-weight: bold;
}

.cardapio-descricao {
    font-size: 1.2em;
}

.cardapio-foto {
    border-radius: 10px;
    margin: 20px;
    width: 80%;
}

.cardapio-preco {
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 10px;
}

form {
    margin: 40px 40px;
}

form label {
    display: block;
    font-size: 20px;
    margin: 0 0 12px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    width: 50%;
    padding: 10px 25px;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: #49243E;
    color: #A87676;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    transition: 1s all;
}

.enviar:hover {
    background: #5E1675;
    transform: scale(1.02);
}